body
{
 background-color: #001254;
}
#contenedor{
 width:100%;
 height:100%;
 margin: 0 auto 0 auto;
 background-color:#B5FFCA;
 border:4px solid #FF0000;
}
#cabecera{
 width:100%;
 height:15%;
 background-image: url(Portada.jpg);
 background-size: 450px 100px;
 display: flex;
justify-content: center;

}
#menu{
 width:100%;
 height:5%;
 background-color:#ece4e4;

}
#izquierda{
 width:20%;
 height:100%;
 background-color:#dac4c4;
 float:left;
 display: flex;
justify-content: center;


}
#Juegos{
 padding-left: 5%;
 padding-right: 5%;
 width:50%;
 height:100%;
 background-color:#ffffff;
 float:left;
 color: rgb(0, 0, 0);

}
#derecha{
 width:20%;
 height:70%;
 background-color:#b4b4b4;
 float:right;
 display: flex;
justify-content: center;


}
#pie{
 width:100%;
 height:5%;
 background-color:#000000;
 clear:both;
 float:left;
 color: rgb(255, 255, 255);
 display: flex;
 justify-content: center;
 
}
#im{
 width:100%;
 height:100%;
}
#tabla1{
 padding-left: 20%;
}
#boton{
 background-color:#ffffff;
 color:white;
 float:left;
 color: rgb(0, 0, 0);
}